$add-todo-height: 58px;
$color-text: #576366;
$color-text-light: lighten($color-text, 40%);
$color-text-alt: #fff;
$color-main: #e26411;
$color-main-light-1: lighten($color-main, 7.5%);
$color-main-light-2: lighten($color-main, 15%);
$color-sub-1: #edf4f5;
$color-sub-1-dark-1: darken($color-sub-1, 7.5%);
$color-sub-2: #fff;
$color-sub-2-trans: rgba($color-sub-2, 0.5);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 200;
  color: $color-text;
}

ul {
  list-style: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.todoapp-root {
  width: 100vw;
  height: 100vh;
  background-color: $color-sub-1;
}

.todoapp {
  width: 680px;
  margin: auto;
  height: 100%;
  padding: 10px;
  @include clearfix;
}

.group-list {
  padding-top: $add-todo-height;
  width: 20%;
  height: 100%;
  float: left;

  .spinner-cube-grid {
    margin-top: 120px;
  }
}

.group {
  padding: 20px;
  cursor: pointer;
  border-left-width: 0;
  @include transition(background-color 200ms ease-out);
  @include transition(border-left-width 200ms ease-out);

  &--active {
    background-color: $color-sub-2;
    border-left: 5px solid $color-main;
  }

  &:hover {
    background-color: $color-sub-2-trans;
  }
}

.group.group--active {
  &:hover {
    background-color: $color-sub-2;
  }
}

.todo-list {
  width: 80%;
  height: calc(100% - #{$add-todo-height});
  float: left;
  background-color: $color-sub-2;

  .spinner-cube-grid {
    margin-top: 120px;
  }
}

.todo {
  padding: 20px;
  cursor: pointer;

  &--completed {
    text-decoration: line-through;
  }
}

.add-todo {
  width: 80%;
  height: $add-todo-height;
  float: left;
  background-color: $color-sub-2;
  padding: 10px;
  @include clearfix;

  &__input {
    outline: none;
    border: 3px solid $color-sub-1;
    font-size: inherit;
    font-weight: inherit;
    float: left;
    height: 100%;
    width: calc(100% - 100px);
    padding: 16px 10px;
    @include transition(border-color 200ms ease-out);

    &:focus {
      border-color: $color-sub-1-dark-1;
    }
  }

  &__btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: $color-text-alt;
    background-color: $color-main;
    font-size: inherit;
    font-weight: inherit;
    float: left;
    height: 100%;
    width: 100px;
    @include transition(background-color 200ms ease-out);

    &:hover {
      background-color: $color-main-light-1;
    }

    &:active {
      background-color: $color-main-light-2;
    }
  }
}

.no-entries-message {
  padding: 20px;
}

.spinner-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
}

.spinner-cube-grid .spinner-cube {
  width: 33.3333%;
  height: 33.3333%;
  background-color: $color-main;
  float: left;
  -webkit-animation: spinner-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: spinner-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.spinner-cube-grid .spinner-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.spinner-cube-grid .spinner-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.spinner-cube-grid .spinner-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.spinner-cube-grid .spinner-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.spinner-cube-grid .spinner-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.spinner-cube-grid .spinner-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.spinner-cube-grid .spinner-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.spinner-cube-grid .spinner-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.spinner-cube-grid .spinner-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes spinner-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes spinner-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
