* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 200;
  color: #576366;
}

ul {
  list-style: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.todoapp-root {
  width: 100vw;
  height: 100vh;
  background-color: #edf4f5;
}

.todoapp {
  width: 680px;
  margin: auto;
  height: 100%;
  padding: 10px;
  @include clearfix;
}

.group-list {
  width: 20%;
  height: 100%;
  float: left;

  .spinner-cube-grid {
    margin-top: 120px;
  }
}

.group {
  padding: 20px;
  cursor: pointer;
  @include transition(background-color 200ms ease-out);

  &--active {
    background-color: #fff;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.50);
  }
}

.group.group--active {
  &:hover {
    background-color: #fff;
  }
}

.todo-list {
  width: 80%;
  height: calc(100% - 58px);
  float: left;
  background-color: #fff;

  .spinner-cube-grid {
    margin-top: 120px;
  }
}

.todo {
  padding: 20px;
  cursor: pointer;

  &--completed {
    text-decoration: line-through;
  }
}

.add-todo {
  width: 80%;
  height: 58px;
  float: left;
  background-color: #fff;
  padding: 10px;
  @include clearfix;

  &__input {
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    float: left;
    height: 100%;
    width: calc(100% - 100px);
    padding: 16px 10px;
  }

  &__btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #d35400;
    font-size: inherit;
    font-weight: inherit;
    float: left;
    height: 100%;
    width: 100px;
    @include transition(background-color 200ms ease-out);

    &:hover {
      background-color: #c35813;
    }

    &:active {
      background-color: #b35213;
    }
  }
}

.no-entries-message {
  padding: 20px;
}

.spinner-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
}

.spinner-cube-grid .spinner-cube {
  width: 33%;
  height: 33%;
  background-color: #d35400;
  float: left;
  -webkit-animation: spinner-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: spinner-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.spinner-cube-grid .spinner-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.spinner-cube-grid .spinner-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.spinner-cube-grid .spinner-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.spinner-cube-grid .spinner-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.spinner-cube-grid .spinner-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.spinner-cube-grid .spinner-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.spinner-cube-grid .spinner-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.spinner-cube-grid .spinner-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.spinner-cube-grid .spinner-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes spinner-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes spinner-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
