* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 200;
  color: #576366;
}

.github-link {
  color: tomato;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.todoapp-root {
  width: 100vw;
  height: 100vh;
  background-color: #edf4f5;
}
