$add-todo-height: 58px;
$color-text: #576366;
$color-main-light-1: lighten(tomato, 7.5%);
$color-sub-1: #edf4f5;
$color-sub-1-dark-1: darken($color-sub-1, 7.5%);
$color-sub-2: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 200;
  color: $color-text;
}

ul {
  list-style: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.github-link {
  color: $color-main-light-1;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.todoapp-root {
  width: 100vw;
  height: 100vh;
  background-color: $color-sub-1;
}

.todoapp {
  width: 680px;
  margin: auto;
  height: 100%;
  padding: 10px;
  @include clearfix;
}

.group-list {
  padding-top: $add-todo-height;
  width: 20%;
  height: 100%;
  float: left;
  position: relative;

  .spinner-cube-grid {
    margin-top: 120px;
  }
}

.todo-list {
  width: 80%;
  height: calc(100% - #{$add-todo-height});
  float: left;
  background-color: $color-sub-2;
  position: relative;
  overflow-y: scroll;

  .spinner-cube-grid {
    margin-top: 120px;
  }
}

.add-todo {
  width: 80%;
  height: $add-todo-height;
  float: left;
  background-color: $color-sub-2;
  padding: 10px;
  @include clearfix;

  &__input {
    outline: none;
    border: 3px solid $color-sub-1;
    font-size: inherit;
    font-weight: inherit;
    float: left;
    height: 100%;
    width: 80%;
    padding: 16px 10px;
    @include transition(border-color 200ms ease-out);

    &:focus {
      border-color: $color-sub-1-dark-1;
    }
  }
}
