$add-todo-height: 58px;
$color-text: #576366;
$color-main-light-1: lighten(tomato, 7.5%);
$color-sub-1: #edf4f5;
$color-sub-1-dark-1: darken($color-sub-1, 7.5%);
$color-sub-2: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 200;
  color: $color-text;
}

ul {
  list-style: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.github-link {
  color: $color-main-light-1;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.todoapp-root {
  width: 100vw;
  height: 100vh;
  background-color: $color-sub-1;
}

.todoapp {
  width: 680px;
  margin: auto;
  height: 100%;
  padding: 10px;
  @include clearfix;
}

.group-list {
  padding-top: $add-todo-height;
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}

.todo-list {
  width: 80%;
  height: calc(100% - #{$add-todo-height});
  float: left;
  background-color: $color-sub-2;
  position: relative;
  overflow-y: scroll;
}
